---
layout: layout
pageable: true
---
<div class="content pure-u-1 pure-u-md-3-4">
  <div class="posts">
    <h2 class="content-subhead">
      Category - <strong><%= category %></strong>
    </h2>
    <% page_articles.each do |article| %>
      <%= partial "partials/article", locals: { article: article } %>
    <% end %>
  </div>
  <%= partial "partials/layouts/footer" %>
</div>
